body{
  width: 750/@r*1rem;
  margin: 0px auto;
  .font-wr();
}
.body-bg{
  background-color: #efeded;
}
.wapfm-header{
  height: 88/@r*1rem;
  line-height: 88/@r*1rem;
  padding-right: 30/@r*1rem;
  background-color: #181818;
  .logo{
    float:left;
    width: 205/@r*1rem;
    text-align: center;
    font-size: 36/@r*1rem;
    color:#fff;
  }
  .search{
    float: right;
    width: 255/@r*1rem;
    height: 42/@r*1rem;
    line-height: 42/@r*1rem;
    margin-top: 22/@r*1rem;
    border:1px solid #dedede;
    .border-radius(21/@r*1rem);
    >em{
      float: left;
      width: 25/@r*1rem;
      height: 25/@r*1rem;
      margin: 9/@r*1rem 10/@r*1rem 0px 10/@r*1rem;
      background: url("../images/seach.jpg") no-repeat left top;
      background-size: cover;
    }
    >input{
      display: block;
      width: 190/@r*1rem;
      height: 23/@r*1rem;
      margin-top:6/@r*1rem;
      color:#fff;
      border:1px solid #181818;
      background-color: #181818;
      outline: none;
    }
  }
}
.wapfm-banner{
  height: 408/@r*1rem;
  background-color: #00aff0;
  .swiper-slide{
    height: 408/@r*1rem;
  }
}
.wapfm-classify{
  height: 170/@r*1rem;
  line-height: 170/@r*1rem;
  padding-left: 45/@r*1rem;
  >span{
    display: block;
    float: left;
    width: 80/@r*1rem;
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    margin-top: 50/@r*1rem;
    margin-left: 65/@r*1rem;
    font-size: 36/@r*1rem;
    color:#101010;
    text-align: center;
    background-color: #fff;
    border: 1px solid #191919;
    .border-radius(50%);
  }
}
.wapfm-bar{
  height: 225/@r*1rem;
  background-color: #b9b8b8;
}
.wapfm-title{
  height: 110/@r*1rem;
  padding-left: 30/@r*1rem;
  >span{
    display: block;
    float: left;
    height: 110/@r*1rem;
    line-height: 110/@r*1rem;
    font-size: 28/@r*1rem;
  }
  >em{
    display: block;
    float: left;
    width: 21/@r*1rem;
    height: 30/@r*1rem;
    margin-top: 42/@r*1rem;
    margin-left: 10/@r*1rem;
    background: url("../images/fire.jpg") no-repeat left top;
    background-size:cover;
  }
}
.wapfm-listindex{
  .clearfix();
  .rowlist{
    position: relative;
    float: left;
    width: 245/@r*1rem;
    height: 230/@r*1rem;
    margin-left: 92/@r*1rem;
    margin-bottom: 35/@r*1rem;
    background-color: #8e8e8e;
    .border-radius(4px);

  }
  .rowlay{
    position: absolute;
    left: 0px;
    top:90/@r*1rem;
    width: 210/@r*1rem;
    height: 100/@r*1rem;
    padding-left: 35/@r*1rem;
    background-color: #e8e8e8;
  }
  .name{
    padding: 5/@r*1rem 0px;
    font-size: 26/@r*1rem;
  }
  .outlink{
    width: 175/@r*1rem;
    height: 42/@r*1rem;
    line-height: 42/@r*1rem;
    font-size: 20/@r*1rem;
    text-align: center;
    background-color: #000;
    a{
      color:#fff;
      text-decoration: none;
    }
  }


}

.wapfm-product{
  .clearfix();
  >div{
    float: left;
    width: 120/@r*1rem;
    height: 120/@r*1rem;
    margin-left: 100/@r*1rem;
    background-color:#a4a4a4;
  }
}
.wapfm-high120{
  height: 120/@r*1rem;
}
.wapfm-footer{
  position: fixed;
  bottom:0px;
  left: 0px;
  z-index: 2;
  width: 750/@r*1rem;
  height: 100/@r*1rem;
  background-color: #262626;
  .clearfix();
  >div,>a{
    display: block;
    float: left;
    width: 150/@r*1rem;
    height: 100/@r*1rem;
    padding-top: 8/@r*1rem;
    >span{
      display: block;
    }
  }
  .picico{
    height: 47/@r*1rem;
    text-align: center;
    .a1{
      display: inline-block;
      width: 46/@r*1rem;
      height: 47/@r*1rem;
      background: url("../images/a1.png") no-repeat left top;
      background-size: cover;
      &.active{
        background: url("../images/a1_active.png") no-repeat left top;
        background-size: cover;
      }
    }
    .a2{
      display: inline-block;
      width: 44/@r*1rem;
      height: 47/@r*1rem;
      background: url("../images/a2.png") no-repeat left top;
      background-size: cover;
      &.active{
        background: url("../images/a2_active.png") no-repeat left top;
        background-size: cover;
      }
    }
    .a3{
      display: inline-block;
      width: 72/@r*1rem;
      height: 47/@r*1rem;
      background: url("../images/a3.png") no-repeat left top;
      background-size: cover;
      &.active{
        background: url("../images/a3_active.png") no-repeat left top;
        background-size: cover;
      }
    }
    .a4{
      display: inline-block;
      width: 44/@r*1rem;
      height: 47/@r*1rem;
      background: url("../images/a4.png") no-repeat left top;
      background-size: cover;
      &.active{
        background: url("../images/a4_active.png") no-repeat left top;
        background-size: cover;
      }
    }
    .a5{
      display: inline-block;
      width: 38/@r*1rem;
      height: 47/@r*1rem;
      background: url("../images/a5.png") no-repeat left top;
      background-size: cover;
      &.active{
        background: url("../images/a5_active.png") no-repeat left top;
        background-size: cover;
      }
    }

  }
  .txt{
    font-size: 24/@r*1rem;
    color:#8f8f8f;
    text-align: center;
    &.orange{
      color:#ffa200;
    }
  }
  .mask{
    position: absolute;
    left: 0px;
    top:0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
  }
}

.wapfm-mask{
  position: absolute;
  left: 0px;
  top:0px;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}
.wapfm-layer{
  position: fixed;
  bottom:90/@r*1rem;
  left: 208/@r*1rem;
  z-index: 2;
  display: none;
  width: 267/@r*1rem;
  height: 175/@r*1rem;
  background: url("../images/index-link.png") no-repeat left top;
  background-size: cover;
  >a{
    position: absolute;
    top:33/@r*1rem;
    display: block;
    width: 59/@r*1rem;
    height: 59/@r*1rem;
    .border-radius(50%);
    &.weixin{
      left: 68/@r*1rem;
      top:44/@r*1rem;
    }
    &.kongjian{
      left: 147/@r*1rem;
      top:0/@r*1rem;
    }
    &.qq{
      left: 213/@r*1rem;
      top:26/@r*1rem;
    }
  }

}

.wapfm-acc{
  height: 370/@r*1rem;
  text-align: center;
  background-color: #eee;
  .pict{
    padding-top: 60/@r*1rem;
    >img{
      display: inline-block;
      width: 165/@r*1rem;
      height: 165/@r*1rem;
      .border-radius(50%);
    }

  }
  .name{
    display: block;
    padding: 10/@r*1rem 0px;
    font-size: 40/@r*1rem;
  }
  .nickname{
    padding-right: 200/@r*1rem;
    text-align: right;
    >span{
      font-size: 30/@r*1rem;
      color:#1f067d;
    }
    >a{
      font-size: 24/@r*1rem;
      color:#ce0000;
    }
  }
}
.wapfm-acctit{
  height: 100/@r*1rem;
  background-color: #F38989;
  >a{
    display: block;
    float: left;
    width: 374/@r*1rem;
    height: 100/@r*1rem;
    line-height: 100/@r*1rem;
    font-size: 34/@r*1rem;
    color:#fff;
    text-align: center;
  }
  >span{
    float: left;
    width: 2/@r*1rem;
    height: 35/@r*1rem;
    margin-top: 32/@r*1rem;
    background-color: #fff;
  }
}

.wapfm-money{
  height: 135/@r*1rem;
  line-height: 135/@r*1rem;
  padding-left: 30/@r*1rem;
  padding-right: 30/@r*1rem;
  >span{
    font-size: 34/@r*1rem;
    >span{
      color:#fd5454;
    }
  }
  >a {
    display: block;
    float: right;
    width: 100/@r*1rem;
    height: 45/@r*1rem;
    line-height: 45/@r*1rem;
    margin-top: 40/@r*1rem;

    font-size: 34/@r*1rem;
    text-align: center;
    color:#fff;
    border:1px solid #cdcdcd;
    background-color: #F58093;
    text-decoration: none;
    .border-radius(4px);

  }
}

.wapfm-list{
  border-top:1/@r*1rem solid #cdcdcd;
  border-left:1/@r*1rem solid #cdcdcd;
  .clearfix();
  >a{
    display: block;
    float: left;
    width: 247/@r*1rem;
    height:250/@r*1rem;
    color:#333;
    border-right:1/@r*1rem solid #cdcdcd;
    border-bottom:1/@r*1rem solid #cdcdcd;

    text-decoration: none;
    >span{
      display: block;
      padding-top: 35/@r*1rem;
      text-align: center;
      >img{
        width: 108/@r*1rem;
        height:108/@r*1rem;
        display: inline-block;
        .border-radius(50%);
      }
    }
    >em{
      display: block;
      padding-top: 30/@r*1rem;
      font-size: 34/@r*1rem;
      font-style: normal;
      text-align: center;
    }
  }
}
.wapfm-maskv2{
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}
.wapfm-cash{
  position: fixed;
  left: 50%;
  top:50%;
  z-index: 2;
  display: none;
  width: 430/@r*1rem;
  height: 340/@r*1rem;
  padding: 0px 30/@r*1rem;
  margin-left: -245/@r*1rem;
  margin-top: -170/@r*1rem;
  background-color: #E4E5D7;
  .border-radius(16/@r*1rem);
  .title{
    height: 60/@r*1rem;
    padding-top: 20/@r*1rem;
    font-size: 34/@r*1rem;
  }
  .iptext{
    height: 60/@r*1rem;
    background-color: gray;
    >input{
      width: 100%;
      height: 60/@r*1rem;
      line-height: 60/@r*1rem;
      border: none;
      background-color: #fff;
    }
  }
  .iptselct{
    height: 60/@r*1rem;
    margin-top: 30/@r*1rem;
    background-color: gray;
    >select{
      width: 100%;
      height: 60/@r*1rem;
      line-height: 60/@r*1rem;
      border: none;
      background-color: #fff;
    }
  }
  .ipsure{
    height: 60/@r*1rem;
    margin-top: 30/@r*1rem;
    >a{
      display: block;
      height: 60/@r*1rem;
      line-height: 60/@r*1rem;
      font-size: 34/@r*1rem;
      text-align: center;
      color:red;
    }
  }
  .closed{
    position: absolute;
    right: 10/@r*1rem;
    top:10/@r*1rem;
    font-size: 30/@r*1rem;
  }
}


.wapfm-login{
  background: url("../images/logo/logo-bg.png") no-repeat left top;
  background-size: cover;
}
.wapfmlogin-header{
  .btn{
    height: 140/@r*1rem;
    padding-right: 30/@r*1rem;
    padding-top: 30/@r*1rem;
    text-align: right;
    a{
      font-size: 30/@r*1rem;
      color:#7d7c7c;
    }
  }
  .imager{
    height: 330/@r*1rem;
    text-align: center;
    >img{
      display: inline-block;
      width: 330/@r*1rem;
      height: 330/@r*1rem;
      border: 1px solid #000;
      .border-radius(50%);
    }
  }
}
.wapfmlogin-con{
  height: 320/@r*1rem;
  padding: 0px 50/@r*1rem 0px 50/@r*1rem;
  //background-color: green;
  .rowls{
    height: 80/@r*1rem;
    padding-top: 15/@r*1rem;
    border-bottom: 1px solid #000;
    >span{
      display: block;
      float: left;
      width: 27/@r*1rem;
      height: 36/@r*1rem;
      margin-top: 22/@r*1rem;
      background-color: yellow;
    }
    .n1{
      background: url("../images/logo/a.png") no-repeat left top;
      background-size: cover;
    }
    .n2{
      background: url("../images/logo/a1.png") no-repeat left top;
      background-size: cover;
    }
    >input{
      float: left;
      height: 50/@r*1rem;
      line-height: 50/@r*1rem;
      margin-top: 15/@r*1rem;
      margin-left: 20/@r*1rem;
      font-size: 36/@r*1rem;
      border:none;
      color:#4a4a4a;
      outline: none;
      background-color: rgba(255,255,255,0);
    }
  }
}
.high80{
  height: 80/@r*1rem;
}
.high30{
  height: 30/@r*1rem;
}

.lgrg{
  >a{
    display: block;
    height: 70/@r*1rem;
    margin-top: 40/@r*1rem;
    text-align: center;
    >img{
      display: inline-block;
      width: 330/@r*1rem;
      height: 70/@r*1rem;
    }
  }
}
.wapfmlogin-line{
  height: 30/@r*1rem;
  text-align: center;
  >img{
    width: 479/@r*1rem;
    height: 30/@r*1rem;
  }
}
.wapfmlogin-outline{
  height: 81/@r*1rem;
  padding-top: 30/@r*1rem;
  .clearfix();
  >a{
    display: inline-block;
    width: 80/@r*1rem;
    height: 81/@r*1rem;
    margin-left: 125/@r*1rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.wapfm-reg-header{
  height: 115/@r*1rem;
  line-height: 115/@r*1rem;
  font-size: 50/@r*1rem;
  color:#fff;
  text-align: center;
  background-image:-webkit-linear-gradient(to bottom, #939393, #1a1a1a);
  background-image:linear-gradient(to bottom,#939393,#1a1a1a);
}
.wap-container{
  padding: 0px 30/@r*1rem;
}
.wapfmreg-row{
  height: 90/@r*1rem;
  margin-top: 30/@r*1rem;

  overflow: hidden;

}
.wapfm-input{
  width: 660/@r*1rem;
  height: 90/@r*1rem;
  padding-left: 30/@r*1rem;
  font-size: 30/@r*1rem;
  color:#999999;
  border: none;
  background-color: #D9D9D9;
  outline: none;
  &.width360{
    width: 360/@r*1rem;
  }
}
.wapfm-btn{
  display: block;
  width: 270/@r*1rem;
  height: 90/@r*1rem;
  line-height: 90/@r*1rem;
  font-size: 30/@r*1rem;
  color:#fff;
  text-align: center;
  background-color: #024497;
  text-decoration: none;
}
.wapfm-check{
  height: 50/@r*1rem;
  line-height: 50/@r*1rem;
  padding-top: 60/@r*1rem;
  overflow: hidden;
  .fox{
    float: left;
    width: 60/@r*1rem;
    input{
      width: 40/@r*1rem;
      height: 40/@r*1rem;
    }
  }
  .txt{
    font-size: 30/@r*1rem;
    color:#cccccc;
    a{
      color:#93bbee;
      text-decoration: none;
    }
  }
}
.wapfm-submit{
  height: 90/@r*1rem;
  padding-top: 150/@r*1rem;
  text-align: center;
  a{
    display: inline-block;
    width: 560/@r*1rem;
    height: 90/@r*1rem;
    line-height: 90/@r*1rem;
    text-align: center;
    font-size: 36/@r*1rem;
    color:#fff;
    text-decoration: none;
    background-color: #024497;
  }
}
.wapfm-wares{
  padding: 0px 30/@r*1rem;
  .tit{
    height: 85/@r*1rem;
    line-height: 85/@r*1rem;
    color:#333;
    >a {
      float: right;
      font-size:30/@r*1rem;
      color:#333;
    }
    >span{
      font-size: 36/@r*1rem;
    }
  }
  .price{
    height: 90/@r*1rem;
    line-height: 90/@r*1rem;
    font-size: 48/@r*1rem;
    color:#a00000;
  }
  .colslv{
    padding-bottom: 30/@r*1rem;
    .clearfix();
    .name{
      display: block;
      float:left;
      width: 130/@r*1rem;
      height: 50/@r*1rem;
      line-height: 50/@r*1rem;
      font-size: 28/@r*1rem;
      color:#252525;
    }
    .valtxt{
      float: left;
      line-height: 50/@r*1rem;
      a{
        display: block;
        font-size: 28/@r*1rem;
        color:#930202;
      }
      .reduce,.add{
        display: inline-block;
        width: 30/@r*1rem;
        height: 30/@r*1rem;
        line-height: 30/@r*1rem;
        text-align: center;
        border:1px solid #333;
      }
      .text{
        display: inline-block;
        width: 60/@r*1rem;
        text-align: center;
        text-decoration: underline;
      }
    }
  }
}
.wapfm-xqtit{
  height: 70/@r*1rem;
  line-height: 70/@r*1rem;
  padding-left: 30/@r*1rem;
  font-size: 30/@r*1rem;
  background-color: #d9d9d9;
}
.wapfm-wares-con{
  padding-bottom: 30/@r*1rem;
  .tit{
    height: 70/@r*1rem;
    line-height: 70/@r*1rem;
    padding-left: 30/@r*1rem;
    font-size: 30/@r*1rem;
  }
  .elws{
    padding: 0px 30/@r*1rem;
    font-size: 28/@r*1rem;
    line-height: 40/@r*1rem;
  }
}
.wapfm-wares-footer{
  position: fixed;
  bottom:0;
  width: 750/@r*1rem;
  height: 80/@r*1rem;
  background-color: gray;
  >a{
    display: block;
    float: left;
    width: 104/@r*1rem;
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    font-size: 30/@r*1rem;
    background-color: #646464;
    text-decoration: none;
    color:#fff;
    text-align: center;
  }
  .w200{
    width: 200/@r*1rem;
    font-size: 36/@r*1rem;
    background-color:#FF8112;
    text-decoration: underline;
  }
  .margin-left9{
    margin-left: 9/@r*1rem;
  }
  .rt{
    float: right;
  }
}

.wapfm-conhead{
  position: relative;
  height: 115/@r*1rem;
  line-height: 115/@r*1rem;
  font-size: 50/@r*1rem;
  color:#fff;
  text-align: center;
  background-color: #d71515;
  >em{
    position: absolute;
    left: 40/@r*1rem;
    top:42/@r*1rem;
    display: block;
    width: 30/@r*1rem;
    height: 30/@r*1rem;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
  }
}
.wapfm-recharge{
  padding: 50/@r*1rem 30/@r*1rem 0px 30/@r*1rem;
  .tit{
    height: 50/@r*1rem;
    line-height: 50/@r*1rem;
    font-size: 30/@r*1rem;
  }
  .detail{
    height: 120/@r*1rem;
    line-height: 120/@r*1rem;
    padding: 0px 40/@r*1rem;
    >a{
      font-size: 28/@r*1rem;
      color:#7c7c7c;
    }
  }
  .submit{
    padding-top: 120/@r*1rem;
    text-align: center;
    >a {
      display: inline-block;
      width: 150/@r*1rem;
      height: 60/@r*1rem;
      line-height: 60/@r*1rem;
      background-color: #cf0a0a;
      color:#fff;
      text-align: center;
      text-decoration: none;
    }
  }
}

.wapfm-shoplist{
  padding: 0px 30/@r*1rem;
  .clearfix();
  .rowcl{
    height: 190/@r*1rem;
    border-bottom: 2/@r*1rem solid #B5B5B5;
  }
  .checkbox{
    float: left;
    width: 50/@r*1rem;
    height: 190/@r*1rem;
    line-height: 190/@r*1rem;
    text-align: center;
    >input{
      width:50/@r*1rem;
      height: 50/@r*1rem;
      margin:0px;
      vertical-align: middle;

    }
  }
  .picture{
    float: left;
    width: 130/@r*1rem;
    height: 130/@r*1rem;
    margin-top: 35/@r*1rem;
    margin-left: 20/@r*1rem;
    background-color: #6c6c6c;
    >img{
      width: 100%;
      height: 100%;
    }
  }
  .shoptext{
    float: left;
    width: 480/@r*1rem;

    .tit{
      height: 40/@r*1rem;
      line-height: 40/@r*1rem;
      margin-top: 35/@r*1rem;
      padding-left: 20/@r*1rem;
      font-size: 28/@r*1rem;
    }
    .txt{
      padding-left: 20/@r*1rem;
      padding-top: 15/@r*1rem;
      font-size: 28/@r*1rem;
      >span{
        float: left;
        display: inline-block;
        padding-right: 20/@r*1rem;
      }
    }
  }
}
.wapfm-balance{
  position: fixed;
  bottom:100/@r*1rem;
  width: 690/@r*1rem;
  height: 90/@r*1rem;
  line-height: 90/@r*1rem;
  padding: 0px 30/@r*1rem;
  font-size: 30/@r*1rem;
  color:#ff0000;
  background-color: #f3f3f3;
  .clearfix();
  >a{
    display: inline-block;
    float: right;
    width: 80/@r*1rem;
    height: 40/@r*1rem;
    line-height: 40/@r*1rem;
    margin-top: 25/@r*1rem;
    font-size: 30/@r*1rem;
    color:#fff;
    text-align: center;
    background-color: #e60012;
    text-decoration: none;
    .border-radius(4px);
  }
}

.wapfm-goods{
  .clearfix();
  >div{
    float: left;
    width: 250/@r*1rem;
    padding-top: 50/@r*1rem;
    text-align: center;
    >div{
      height: 130/@r*1rem;
      >img{
        width: 130/@r*1rem;
        height: 130/@r*1rem;
      }
    }
    >em{
      display: block;
      height: 60/@r*1rem;
      line-height: 60/@r*1rem;
      font-size: 30/@r*1rem;
      font-style: normal;
      color:#333;
    }
  }
}

.wapfm-address{
  margin-top: 30/@r*1rem;
  background-color: #fff;
  .tit{
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    padding: 0px 30/@r*1rem;
    font-size: 30/@r*1rem;
    .tel{
      float: right;
    }
  }
  .adress{
    line-height: 40/@r*1rem;
    padding: 0px 30/@r*1rem  20/@r*1rem  30/@r*1rem;
    font-size: 30/@r*1rem;
    border-bottom:1px solid #efefef;
  }
  .setadress{
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;

    padding: 0px 30/@r*1rem;
    font-size: 34/@r*1rem;
    >span{
      color:#db1919;
      >a{
        color:#db1919;
      }
    }
    >a{
      float: right;
      margin-left: 50/@r*1rem;
      color:#333;

    }
  }
}
.wapfm-btnadress{
  padding-top: 150/@r*1rem;
  text-align: center;
  >a{
    display: inline-block;
    width: 500/@r*1rem;
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    font-size: 34/@r*1rem;
    color:#fff;
    text-align: center;
    background-color: #DB1919;
    text-decoration:none;
    .border-radius(4px);
  }
}

.wapfm-addlist{
  padding: 0px 30/@r*1rem;
  background-color: #fff;
  .rowlv{
    height: 100/@r*1rem;
    border-bottom: 1px solid #e5e5e5;
    font-size: 30/@r*1rem;
    .clearfix();
    .name{
      float: left;
      width: 160/@r*1rem;
      height: 100/@r*1rem;
      line-height: 100/@r*1rem;
      &.w350{
        width: 350/@r*1rem;
      }
    }
    .valcols{
      float: right;
      >.error{
        display: block;
        float: right;
        width: 25/@r*1rem;
        height: 25/@r*1rem;
        margin-top: 35/@r*1rem;
        border-top:3px solid #999999;
        border-right:3px solid #999999;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
      }
      .joindata{
        display: block;
        float: left;
        height: 100/@r*1rem;
        line-height: 100/@r*1rem;
      }
    }
  }
  &.bgcolor{
    background-color: #efeded;
    .rowlv{
      border-bottom: 1/@r*1rem solid #8e8e8e;
    }
  }
}
.wapfm-list-input,.wapfm-select{
  width: 460/@r*1rem;
  height: 50/@r*1rem;
  line-height: 50/@r*1rem;
  margin-top: 25/@r*1rem;
  font-size: 30/@r*1rem;
  color:#666;
  vertical-align: middle;
  border: 0px solid #fff;
  outline:none;
  background-color: #fff;
  direction: rtl;
}
.wapfm-select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  direction: rtl;
  option{
    direction: ltr;
  }
  &.ltr{
    direction: ltr;
  }
}
.wapfm-ordertit{
  height: 80/@r*1rem;
  line-height: 80/@r*1rem;

  background-color: #fff;
  >span{
    display: block;
    float: left;
    width: 250/@r*1rem;
    font-size: 34/@r*1rem;
    text-align: center;
  }
  .active{
    color:#d81616;
  }
}
.wapfm-orderlist{
  margin-top: 30/@r*1rem;
  background-color: #fff;
  .tit{
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    padding-left: 30/@r*1rem;
    font-size: 30/@r*1rem;
    border-bottom:1px solid #eaeaea;
  }
  .goods{
    padding: 20/@r*1rem 30/@r*1rem;
    border-bottom:1px solid #eaeaea;
    .clearfix();
    >span{
      display: block;
      float: left;
      width: 160/@r*1rem;
      height: 120/@r*1rem;
      margin-right: 30/@r*1rem;
      >img{
        width: 100%;
        height: 100%;
      }
    }
    >div{
      line-height: 45/@r*1rem;
      font-size: 30/@r*1rem;
    }
  }
  .samllinfor{
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    padding:0px 30/@r*1rem;
    font-size: 30/@r*1rem;
    >span{
      float: right;
      margin-left: 50/@r*1rem;
    }
    >a{
      float: right;
      color:#333;
    }
  }
}
.wapfm-explain{
  height: 150/@r*1rem;
  line-height: 150/@r*1rem;
  padding: 0px 30/@r*1rem;
  text-align: right;
  >a{
    font-size: 28/@r*1rem;
    color:#d20e0e;
  }
}
.wapfm-listname{
  padding: 20/@r*1rem 30/@r*1rem;
  >div{
    height: 60/@r*1rem;
    line-height: 60/@r*1rem;
    font-size: 34/@r*1rem;
    color:#d71515;
  }
  .default-color{
    color:#333;
  }
}
.wapfm-score{
  height: 90/@r*1rem;
  line-height: 90/@r*1rem;
  padding: 0px 30/@r*1rem;
  font-size: 30/@r*1rem;
  background-color: #fff;
  >span{
    color:#0789ba;
  }
  >em{
    display: block;
    width: 80/@r*1rem;
    height: 40/@r*1rem;
    line-height: 40/@r*1rem;
    margin-top: 30/@r*1rem;
    float: right;
    font-size: 30/@r*1rem;

    font-style: normal;
    color:#fff;
    background-color: #dd1c1c;
    text-align: center;
    .border-radius(10/@r*1rem);
  }
}
.wapfm-collection{
  .picbox{
    padding: 20/@r*1rem 30/@r*1rem;
    background-color: #fff;
    .clearfix();
  }
  .imgbox{
    isplay: block;
    float: left;
    width: 160/@r*1rem;
    height: 120/@r*1rem;
    margin-right: 30/@r*1rem;
    >img{
      width: 100%;
      height: 100%;
    }
  }
  .txt{
    display: block;
    float: left;
    width: 250/@r*1rem;
    line-height: 45/@r*1rem;
    font-size: 30/@r*1rem;
  }
  .price{
    display: block;
    float: right;
    height: 120/@r*1rem;
    >span{
      display: inline-block;
      padding-top: 70/@r*1rem;
      color:#525252;
    }
  }
  .status{
    height: 80/@r*1rem;
    line-height: 80/@r*1rem;
    padding:0px 30/@r*1rem;
    font-size: 30/@r*1rem;
    background-color: #e0dfdf;
    >a{
      color:#d71515;
    }
  }

}

.wapfm-powers{
  padding-top: 450/@r*1rem;
  text-align: center;
  >span{
    display: block;
  }
  .icon{
    >em{
      display: inline-block;
      width: 34/@r*1rem;
      height: 34/@r*1rem;
      background:url("../images/closed.png") no-repeat left top;
      background-size: cover;
    }
  }
  .txt{
    padding-top: 60/@r*1rem;
    font-size: 36/@r*1rem;
    color:#888888;
  }
}
.wapfm-service{
  position: fixed;
  bottom:0px;
  width: 750/@r*1rem;
  height: 90/@r*1rem;
  padding: 0px 30/@r*1rem;
  background-color: #e3e3e3;
  .clearfix();
  .face{
    display: block;
    float: left;
    width: 44/@r*1rem;
    height: 44/@r*1rem;
    padding-top: 23/@r*1rem;
    >img{
      width: 100%;
      height: 100%;
    }

  }
  .pic{
    display: block;
    float: left;
    width: 48/@r*1rem;
    height: 38/@r*1rem;
    margin-top: 26/@r*1rem;
    margin-left: 20/@r*1rem;
    border:1px solid #565656;
    >img{
      width: 100%;
      height: 100%;
    }
  }
  .oipt{
    display: block;
    float: left;
    width: 430/@r*1rem;
    height: 40/@r*1rem;
    margin-top: 25/@r*1rem;
    margin-left: 35/@r*1rem;
    padding-left: 10/@r*1rem;
    >input{
      width: 400/@r*1rem;
      height: 34/@r*1rem;
      line-height: 34/@r*1rem;
      padding-left: 10/@r*1rem;
      outline: none;
    }
  }
  .btn{
    display: inline-block;
    float: left;
    width: 90/@r*1rem;
    height: 50/@r*1rem;
    line-height: 50/@r*1rem;
    margin-top: 22/@r*1rem;
    font-size: 30/@r*1rem;
    color:#fff;
    text-align: center;
    text-decoration: none;
    background-color: #d31010;
  }
}
.wapfm-accstuts{
  padding: 100/@r*1rem 100/@r*1rem 10/@r*1rem 100/@r*1rem;
  text-align: center;
  >a {
    font-size: 34/@r*1rem;
    color:#333;
    text-decoration: none;
  }
}
.wapfm-nickname{
  padding: 30/@r*1rem 30/@r*1rem;
  background-color: #fff;
  >div{
    padding-bottom: 20/@r*1rem;
    font-size: 34/@r*1rem;
    border-bottom: 1/@r*1rem solid #8c8c8c;
    >em{
      display: inline-block;
      float: right;
      width: 34/@r*1rem;
      height: 34/@r*1rem;
      margin-top: 5/@r*1rem;
      margin-right:15/@r*1rem;
      background: url("../images/closed.png") no-repeat left top;
      background-size: cover;
    }
    >span{
      input{
        border: none;
        outline: none;
      }
    }
  }
}









